.learning-path-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf6eb;
}

.learning-path-container {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;

  padding: 3rem;
  border-radius: 6px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  width: 90%;
  max-width: 60rem;
}

.learning-path-title-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.learning-path-title {
  align-self: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #315041;
}

.learning-path-count {
  align-self: center;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  color: #315041;
}

.learning-path-steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  list-style: none;
}

.learning-path-step {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.learning-path-step-title {
  font-size: 1.8rem;
  color: #315041;
}

.learning-path-check-box {
  accent-color: #315041;
  width: 2.2rem;
}

.learning-path-step-description {
  font-size: 1.4rem;
  color: #333333;
  margin-left: 2rem;
}

.learning-path-step-time {
  font-size: 1.2rem;
  font-style: italic;
  color: #556b5f;
  margin-left: 2rem;
}

.learning-path-button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
}

.learning-path-button-container a {
  text-decoration: none;
}

.learning-path-button {
  background-color: #e9ebf0;
  color: #000;
  border-radius: 8px;
  font-size: 1.6rem;
  border: none;
  padding: 1rem 2.8rem;
  margin-top: 3rem;
  align-self: flex-end;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.learning-path-button i {
  color: #555;
  -webkit-text-stroke: 0.5px;
}

.learning-path-finish-button {
  background-color: #3bb13f;
  color: #ffffff;
}

.learning-path-finish-button i {
  background-color: #3bb13f;
  color: #ffffff;
}

@media (max-width: 768px) {
  .learning-path-button-container {
    flex-direction: column;
  }
  .learning-path-button-container a {
    width: 90%;
    max-width: 45rem;
  }
  .learning-path-button {
    width: 100%;
  }

  .learning-path-finish-button {
    margin-top: 0;
  }
}
