.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #faf6eb;
}

.main {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
